.price-display {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.price-display--inline {
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
}

/* Change */
.price-display-change {
  display: flex;
  gap: 0.25rem;
}

.price-display-change-value {
  font-weight: 500;
}
